{% extends 'templating/base.html'%}
{% block content %}
<div class="container">
    <div class="col-5">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p><h5> Вы действительно хотите удалить статью {{object.name}}? </h5></p>
                <a class="p-2 btn btn-primary"
                   href="{% url 'templating:blog_detail' object.pk object.slug %}">Отменить</a>
                <button class="p-2 btn btn-outline-danger bg-primary-subtle" type="submit">Удалить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}